@import './color.css';
@import './typography.css';
/*===============
    GLOBAL
  ===============*/
* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
    color: var(--text);
    font-family: 'personaFontTitle','Outfit', sans-serif;
    font-weight: 500;
}

body {
    font-family: 'Work Sans', sans-serif;
    background-color: var(--black);
}

button {
    border: none;
    background-color: transparent;
}

button:focus {
    border: none;
    outline: none;
}

button:focus{
    outline:none !important;
}

#app {
    min-width: 100vw;
    min-height: 100vh;
  }
