:root {
    --text: #4d3f44;
    --background: #f2ebbf;
    --primary-button: #f3b562;
    --primary-button-dark: #a07a48;
    --secondary-button: #f06060;
    --accent: #8cbeb2;
    --accent-dark: #688d84;
}
